/*Tablet + Mobile*/
@media (max-width: 1023px) {
    .slide__content {
        top: 28px;
    }
    .slide__logo {
        height: auto;
        width: 80px;
    }
    .slide__slogan {
        display: inline-block;
        font-size: 14px;
        margin: 10px 0 0 0;
    }
    .slide__desc {
        font-size: 18px;
        font-weight: 100;
        font-family: "Nunito Sans", sans-serif;
    }
    .slide__btn {
        display: none;
    }
    .slide .dots {
        position: absolute;
        top: 21%;
        left: 62%;
    }
    .btn--shop-now {
        font-size: 17px;
    }
    .story {
        width: 100vw;
        margin: 70px auto;
    }
    .refa-story__img {
        width: 100%;
        height: auto;
    }
    .refa-story__content {
        width: 50vw;
        top: 23%;
        left: 50%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 30px;
    }
    .refa-story__title {
        font-size: 17px;
        width: 300px;
        line-height: 50px;
    }
    .content-desc {
        font-size: 14px;
        max-width: 460px;
        margin: 5px 0;
    }
}

/*Tablet*/

@media (min-width: 740px) and (max-width: 1023px) {
}

/*Mobile*/

@media (max-width: 739px) {
}
